# Backend local / producción
NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=parking
DB_USER=postgres
DB_PASSWORD=postgres

# En producción con frontend servido por Express puede quedar vacío.
# En desarrollo local usa http://localhost:5173
FRONTEND_URL=http://localhost:5173

JWT_ACCESS_SECRET=cambia_esta_clave_access
JWT_REFRESH_SECRET=cambia_esta_clave_refresh
JWT_QR_SECRET=cambia_esta_clave_qr

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_QR_EXPIRES_IN=30d

BCRYPT_ROUNDS=12
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
